<header class="navbar">
  <div class="container">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand">
        <img src="http://placehold.it/20x20" alt="Logo" />
      </a>
    </div>
    <form class="navbar-form navbar-right col-sm-6">
      <div class="form-group">
        <div class="input-group">
          <input type="text"
                 placeholder="Type at least 2 chars..."
                 name="term"
                 [(ngModel)]="term"
                 class="form-control" />
          <div class="input-group-btn">
            <button type="button" class="btn btn-primary" (click)="searchProfile(term)">
              <i class="glyphicon glyphicon-search"></i>
            </button>
          </div>
        </div>
      </div>
      <ul class="autocomplete list-group">
        <li *ngFor="let profile of filteredProfiles(term)"class="list-group-item">
          <a [routerLink]="(['/profiles', profile.id])" (click)="term = ''">{{profile.nickname}}</a>
        </li>
      </ul>
    </form>
  </div>
 </header>

 <ng-template #modalAlert>
   <div class="modal-header">
     <a href="javascript:;" class="close" (click)="closeModal()">&times;</a>
     <h3 class="modal-title text-danger">Alert</h3>
   </div>
   <div class="modal-body">There is no such user.</div>
 </ng-template>
